.header-container {
    /* background-image:linear-gradient(-5deg, transparent 55%, #FBD062  45%);
    width: 100%;
    height: 205vh;
    background-size: cover;
    background-position: center; */
    background-color: #FBD062;
    clip-path: polygon(0 0, 100% 0, 100% 83%, 0% 100%);
}
